#banner-typed-text {
  font-size: 45px;
  padding: 0.4em 0em;
  font-family: "Open sans", sans-serif;
  letter-spacing: 1px;
  text-align:center;
  text-decoration: none;
}

.para:hover {
  text-decoration: none;
}

p {
  font-family: "Open sans", sans-serif;
  font-weight: 550;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color:black;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration:none;
}

.button{
  width: 300px;
  height: 50px;
  border: 2px solid #34495e;
  text-align: center;
  cursor:pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button a{
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #0070c9;
  text-decoration: none;
  line-height: 50px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  }


.eff{
  width: 300px;
  height: 50px;
  left: -140px;
  top: -50px;
  background: #FF5A5F;
  position:absolute;
  transition: all .5s ease;
  z-index: 1;
}

.button:hover .eff{
  left: 0;
  top: 0;
  background-size: 100% 5px, auto;
}

.button:hover a{
  color:#fff;
}

.box {
  background-color: #EEEEEE;
  margin: 30px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 10px #929AAB;
}
