<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="theme_front_end.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Compelo</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <a href="https://www.compelo.com/" class="para" target="_blank"><p><span id="banner-typed-text"></span></p></a>
          <div class="box">
            <a href="https://www.compelo.com/" target="_blank"><p><em>Decisions shape the future of your company. How can you be sure your employees are guiding your company along the optimal path to the most successful future? The answer is knowledge: knowledge that enables your employees to predict the future.</em></p></a>
            <div class="button">
              <div class="eff"></div>
              <a href="https://www.compelo.com/">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

